@font-face {
   font-family: OpenDyslexic3;
   src: url('OpenDyslexic3-Regular.ttf');
}

@font-face {
   font-family: OpenDyslexic3Bold;
   src: url('OpenDyslexic3-Bold.ttf');

}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Rubik+Wet+Paint&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      --main-bg-color: #324366;
      --main-text-color: white;
      --main-link-color: #a0d2db;
      --main-link-hover-color: #c490d1;
      --main-border-color: #ccc;
      --main-border-radius: 0.25rem;
      --main-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      --main-transition: 0.3s;
      --main-font-family: 'OpenDyslexic3', sans-serif;

      --secondary-bg-color: #b8336a;
      --secondary-text-color: white;
      --secondary-link-color: #7d8cc4;
      --secondary-link-hover-color: #a0d2db;
      --secondary-border-color: #ccc;
      --secondary-border-radius: 0.25rem;
      --secondary-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      --secondary-transition: 0.3s;
      --secondary-font-family: 'OpenDyslexic3', sans-serif;

      --accent-color: #a0d2db;
      --tertiary-color: #7d8cc4;
      --fourth-color: #519e8a;

}

/* * {
   font-family: 'OpenDyslexic3', sans-serif;
} */



nav {
      background-color: var(--secondary-bg-color);
      color: var(--main-bg-color);
      font-family: var(--main-font-family);
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1250px;
      margin: 0 auto;
      
}

.nav {
      position: fixed;
      width: 100%;
      
      z-index: 100;
      top: 0;     
      opacity: .99;
     
            
}

nav a {
      color: white;
      text-decoration: none;
      transition: var(--main-transition);
}

nav a:hover {
      color: var(--main-link-color);
}

nav ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 15px;     
      
}

nav > img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      padding: 0;
}

.active {
      color: var(--main-link-color);
      border-bottom: 3px solid var(--main-link-color);
      background-color: var(--secondary-bg-color);
}

.active a {
      color: var(--main-link-color);
      background-color: var(--secondary-bg-color);
}

section {
      max-width: 1250px;
      margin:0 auto;
      background-color: #324366;
}
.evensection {
      background-color: var(--fourth-color);
      color: var(--secondary-text-color);
      box-shadow: var(--secondary-box-shadow);
      transition: var(--secondary-transition);
      font-family: var(--secondary-font-family);
      min-height: 50vh;
      padding: 0 2rem;
      padding-bottom: 2rem;
      z-index: 10;
}

.evensection h2 {
      color: var(--secondary-text-color);
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
      z-index: 10;
      padding-top: 75px;
}

.oddsection {
      background-color: var(--main-bg-color);
      color: var(--main-text-color);
      box-shadow: var(--main-box-shadow);
      transition: var(--main-transition);
      font-family: var(--main-font-family);
      min-height: 50vh;
      padding: 0;
}

.oddsection h1 {
      color: var(--main-text-color);
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1rem;
      
}

.oddsection h2 {
      color: var(--main-text-color);
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
      
      z-index: 10;
}

section {
      padding: 2rem;
}


.herowrap {
   position: relative;
margin-top: 60px;
   z-index: 1;
}

.herowrap:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
      width: 100%;
      
   height: 100%;
   opacity: 1;
   background-image: url(starryskycurve2.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   z-index: 1;
}

.hero {
   position: relative;
      height: 100vh;
      padding-top: 50px;
      z-index: 1;
      opacity: 1;
}

.hero h2 {
      width: 800px;
      text-align: center;
      margin: 0 auto;
      font-size: 2rem;
      color: var(--main-text-color);
      text-align: center;
      margin-bottom: 1rem;
}

.hero h3 {
      font-size: 1rem;
      color: var(--main-text-color);
      text-align: center;
      margin-bottom: 1rem;
}

.herocontactcontainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      gap: 1rem;

}

.herocontact a {
      color: white;
      text-align: center;
}

.herocontact {
      
}


.btn {
      background-color: var(--main-bg-color);
      color: var(--main-text-color);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: var(--main-border-radius);
      cursor: pointer;
      transition: var(--main-transition);
      text-align: center;
}

.herocontact {
      background-color: var(--main-border-color);
      color: white;
      border: none;
      text-align: center;
      font-size: 1.5rem;
      font-family: var(--main-font-family);
      height: 0px;
      width: 0px;
      cursor: pointer;


}

.meetamie > img {
      width: 300px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
}

.meetamie {
      padding-bottom: 200px;
      padding-top: 100px;
      padding-inline: 30px;
}

.curve {
      max-width: 1250px;
      margin: 0 auto;
      margin-top: -230px;
      margin-bottom: -20px;
      opacity: 1;
      z-index: 100;
}

/* .curveheader {
      margin-bottom: -160px;
      background-color: var(--main-bg-color);
} */

footer {
      background-color: var(--tertiary-color);
      color: var(--main-bg-color);
      font-family: var(--main-font-family);
      padding: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap:1rem;
      max-width: 1250px;
      margin: 0 auto;
}

.footermain {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      gap: 15px;
}

.footeremergency {
      font-family: 'OpenDyslexic3Bold', sans-serif;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 15px;
}

.emergencyimage {
      width: 80%;
}

.footerhighlight {
      text-align: center;
      color: var(--secondary-bg-color);
}

.footerconnections {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footersmall {
      font-size: 0.65rem;
      text-align: center;
}

.footerbutton a {
      background-color: var(--main-bg-color);
      color: var(--main-text-color);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: var(--main-border-radius);
      cursor: pointer;
      transition: var(--main-transition);

}

.bubble {
   width: 400px;
   text-align: center;
   background-color: white;
   border-radius: 15px;

}

.emergencybubble {
      width: 1000px;
      height: 500px;
      text-align: center;
      /* background-color: white; */
    
      border-radius: 500px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.emergencybubble h2 {
      width: 600px;
      
}

.feesection {
      min-height: 600px;
      padding-top:100px;
      display: flex;
      justify-content: center;
      padding-inline: 40px;
      flex-direction: row;
      gap: 2rem;
}

.servicesection {
      min-height: 500px;
      padding: 20px;
      padding-bottom: 200px;
}

.servicesection > ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
}

.servicesection > ul > li {
      text-align: center;
      list-style: none;
      background-color: var(--secondary-bg-color);
      color: var(--secondary-text-color);
      padding: 1rem;
      border-radius: var(--secondary-border-radius);
      box-shadow: var(--secondary-box-shadow);
      transition: var(--secondary-transition);
}

.servicesheadliner {
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 20px;
}

.faq {
      padding-bottom: 175px;
      margin-inline: 2rem;
}

.faqcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 20px;
      
}

.contactinfo {
      padding-top: 100px;
      min-height: 500px;
      text-align: center;
}
.contactform {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      
      padding-bottom: 100px;
}

.contactform > form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
}

.contactform > form > input {
      padding: 0.5rem;
      border-radius: var(--main-border-radius);
      border: 1px solid var(--main-border-color);
      font-size: 2rem;
      
}

.contactform > form > textarea {
      padding: 0.5rem;
      border-radius: var(--main-border-radius);
      border: 1px solid var(--main-border-color);
      min-height: 200px;
      min-width: 500px;
}

.contactform > form > button {
      padding: 0.5rem 1rem;
      border-radius: var(--main-border-radius);
      border: 1px solid var(--main-border-color);
      background-color: var(--main-bg-color);
      color: var(--main-text-color);
      cursor: pointer;
      transition: var(--main-transition);
}           

.contactform > form > button:hover {
      background-color: var(--main-link-color);
}

.contactform > form > button:active {
      background-color: var(--main-link-hover-color);
}

.contactform > form > button:focus {
      outline: none;
}

.contactform > form > button:disabled {
      background-color: var(--main-border-color);
      color: var(--main-text-color);
      cursor: not-allowed;
}

.radiobuttons {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 550px;
}

.stars1 {
      width: 50px;
}

.stars2 {
      width: 100px;
      margin-left: 150px;
}

.stars3 {
      width: 150px;
}

.meetings {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
}

.meetamie p {
      max-width: 800px;
      margin: 0 auto;
}

.amieimg {
      width: 500px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
}

.staricon {
      width: 25px;
      padding-right: 10px;
}

.starsinsurance {
      width: 80px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
}

ul.serviceslist {
      list-style-type: none;
}

ul.feeslist {
      list-style-type: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
      background-color: var(--main-bg-color);
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: center;
      border: none;
      outline: none;
      transition: 0.4s;
      font-family: "openDyslexic3", sans-serif;
      font-size: 1.3rem;
      border: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
      background-color: var(--tertiary-color);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
      padding: 0 18px;
      background-color: var(--main-link-hover-color);
      display: none;
      overflow: hidden;
      max-width: 800px;
      text-align: left;
}

.panel ul {
      list-style-type: none;
}

.accordioncontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      
}

.accordion2 {
      background-color: var(--tertiary-color);
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: center;
      border: none;
      outline: none;
      transition: 0.4s;
      font-family: "openDyslexic3", sans-serif;
      font-size: 1.3rem;
      border: 1px solid var(--main-border-color);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion2:hover {
      background-color: var(--tertiary-color);
}

/* Style the accordion panel. Note: hidden by default */
.panel2 {
      padding: 0 18px;
      background-color: var(--main-link-hover-color);
      display: none;
      overflow: hidden;
}

.accordioncontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

}

small.servicesmall {
      color: var(--secondary-text-color);
      text-align: center;
      display: flex;    
      justify-content: center;
}

.about {
      padding: 20px;
      padding-bottom: 150px;

}
.aboutbuttoncontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      
      padding-top: 40px;
      z-index: 100;
}

.aboutbutton {
      font-size: 1.5rem;
      background-color: var(--main-border-color);
      color: var(--main-text-color);
}

button.aboutbutton:hover {
      background-color: var(--main-link-color);
      cursor: pointer;
}

.contactform > button {
      font-size: 1.5rem;
      cursor: pointer;
}
.contactform {
      padding-bottom: 200px;
}

.goodfaith {
      
      padding: 20px;
      padding-top: 80px;
      padding-bottom: 200px;
}

.oddsection h1 {
      font-size: 3.5rem;
      text-align: center;
      margin-bottom: 1rem;
      
}

.disclaimer {
      padding: 20px;
      margin: 0 auto;
      padding-bottom: 150px;
}

.disclaimer h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
}

.thanks {
      text-align: center;
      padding-top: 100px;
}

.resourcesimage {
      width: 300px;
      margin: 0 auto;
      display: block;
}

.resourcesbooks {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      
      padding: 20px;
      padding-block: 200px;

      max-width: 80%;
      margin: 0 auto;
}

.resourcesbooks a {
      color: var(--main-link-color);
      text-decoration: none;

}

.resourcesbooks a:hover {
      color: var(--main-link-hover-color);
}

.resourcesbooks h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
}

hr {
      border: 1px solid var(--main-border-color);
      margin: 0 auto;
      width: 80%;
}

.therapistuncensoredimg {
      margin-block: 40px;
      padding: 1rem;
      background-color: white;
      margin: 40px auto 0;
      display: block;
}

.podcasts {
      padding: 20px;
      padding-bottom: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
}

.podcasts a {
      color: var(--main-link-color);
      text-decoration: none;
}

.resume {
      
      padding: 20px;
      max-width: 800px;
      margin: 20px auto;
      background-image: url('heart-sky.jpg');

}

.formtop {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
}

.form1 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      gap: 1rem;

}

.formimage {
      width: 300px;
      margin: 0 auto;
      display: block;
      border-radius: 5px;;
}

.servicestop {
      width: 600px;
      margin: 0 auto;
      background-image: url(northern-lights.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
}

.servicestop p {
      font-size: 1.5rem;
      text-align: center;
      color: black;
      font-weight: 700;
      padding: 20px;
      margin-bottom: 20px;

}
/* Media Queries */
@media (min-width: 1250px) {
}